---
layout: default
title: Home
---


<h1><br/>박은성 | Eunseong Park</h1>
<p>Hi</p>
<h2>Posts</h2>

<ul>
{% for post in paginator.posts %}
  <li>{{ post.date | date: '%Y-%m-%d'}} <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<span>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: relative_url }}">Next Posts</a>
  {% else %}
    <span>Next Posts</span>
  {% endif %}
  <span>&nbsp;</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Prev Posts</a>
  {% else %}
    <span>Prev Posts</span>
  {% endif %}
</span>
